
<!DOCTYPE html>
<html>
  <head>
  	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PackagingStudy</title>

  	<link rel="stylesheet" href="/css/bootstrap.min.css">

  </head>
  <body>
  <div class="container">
	<div class="page-header">
		<img src="logo.png" style="float: left; height: 50px; padding-bottom: 10px; margin-right: 10px;">
		<h1>PackagingStudy</h1>
	</div>

	<div class="lead">
		<h2>Product review</h2>
		<div class="thumbnail">
		    <img src="<%= res.product.image %>" />
		    <div class="caption">
			    <h4 class="text-muted"><%= res.product.title %></h4>
			    <h4 class="text-muted"><%= res.product.company %></h4>
		    </div>
	     </div>
	</div>
		<div>
		    <h4>Age group</h4>
		    <p><%= res.ageGroup %></p>
	    </div>

	    <table class="table table-striped table-bordered table-condensed table-hover">
	    	<thead>
	    		<tr>
	    			<th>Criteria</th>
	    			<th>Score</th>
	    			<th>Description</th>
	    		</tr>
	    	</thead>

	    	<tbody>
	    		<tr>
	    			<td><%= res.data1.title %></td>
	    			<td><%= res.data1.score %></td>
	    			<td><%= res.data1.option %></td>
	    		</tr>

	    		<tr>
	    			<td><%= res.data2.title %></td>
	    			<td><%= res.data2.score %></td>
	    			<td><%= res.data2.option %></td>
	    		</tr>

	    		<tr>
	    			<td><%= res.data3.title %></td>
	    			<td><%= res.data3.score %></td>
	    			<td><%= res.data3.option %></td>
	    		</tr>

	    		<tr>
	    			<td><%= res.data4.title %></td>
	    			<td><%= res.data4.score %></td>
	    			<td><%= res.data4.option %></td>
	    		</tr>
	    	</tbody>
		</table>

		<div class="row">
		    <div class="col-md-6">
			    <h4>Text feedback</h4>
			    <% if(res.data5 === undefined || res.data5 == ''){ %>
				   <p>(No feedback given)</p>
				 <% } else{ %>  
					<p><%= res.data5 %></p>
				<% } %>
			</div>

		    <div class="col-md-6">
			    <h4>Image feedback</h4>
			    <% if(res.image === undefined){ %>
				   <p>(No image uploaded)</p>
				 <% } else{ %>  
					<div class="thumbnail">
				    	<img src="<%= res.image %>" />
			    	</div>
				<% } %>
		    </div>
	    </div>
	</div><!-- container -->
  </body>
</html>
